.dark .content__default code {
    background-color: rgba(225, 225, 225, 0.08);
    color: #f85959;
}

/* 定义文章中图片的样式*/

.image-box
  margin 0 auto
  img
    width 450px
    height 450px
    border 1px solid #d4efec
  p
    width 100%
    text-align center
    color #666
    font-size 16px
    line-height 26px